.git
.gitignore
*.md
.DS_Store
.env
.env.local
.env.*.local
.vscode
.idea
.eslintrc.cjs

node_modules
dist
.output
.tanstack
.cache
coverage
.turbo

vite-dev.log
vite-dev.err.log
*.log

bun.lock
bunfig.toml

.vercel
.netlify
storybook-static
*.tsbuildinfo
*.iml
